<div>
    <%= f.label :occupied %>
    <%= f.text_field :occupied, required: true %>
</div>
<div>
    <%= f.label :room_type %>
    <%= f.text_field :room_type, required: true %>
</div>

<div>
    <%= f.submit 'Create Room' %>
</div>
