<div>
    <%= f.label :bed_type %>
    <%= f.text_field :bed_type, required: true %>
</div>
<div>
    <%= f.label :bed_count %>
    <%= f.number_field :bed_count, required: true %>
</div>
<div>
    <%= f.label :in_use %>
    <%= f.number_field :in_use, required: true %>
</div>
<div>
    <%= f.submit %>
</div>